# Mark .pnp.cjs as binary to prevent git from trying to merge it
/dist/**                binary linguist-generated
/.pnp.*                 binary linguist-generated
/.yarn/releases/**      binary linguist-generated

# Set the language for these files to json5 to ensure GitHub doesn't show the comments as errors
/.vscode/*.json         linguist-language=JSON5
tsconfig.json           linguist-language=JSON5
