name: Test the action
on:
  push:
    branches:
    - "v*"
  pull_request:
    branches:
    - "*"

jobs:
  verify:
    name: Verify install
    strategy:
      max-parallel: 5
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
        dc:
          [
            ldc-1.19.0,
            ldc-latest,
            ldc-beta,
            ldc-master,
            dmd-2.097.0,
            dmd-latest,
            dmd-beta,
            dmd-master,
            "",
          ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@master

      - name: Install D compiler
        uses: ./
        with:
          compiler: ${{ matrix.dc }}
          gh_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Verify D compiler ($DC)
        shell: bash
        run: $DC .github/hello.d && ./hello

      - name: Verify D compiler wtih explicit bitness ($DC)
        if: ${{ env['DC'] == 'dmd' }}
        shell: bash
        run: $DC -m64 .github/hello.d && ./hello

      - name: Verify D compiler ($DC, shared)
        shell: bash
        run: $DC -shared .github/hello.d && ./hello

      - name: Verify D compiler (dub)
        run: dub run --single -q .github/hello.d

      - name: Install Node.js 12.x
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'

      - name: Ensure `dist/index.js` is up to date
        run: |
          set -euxo pipefail
          npm ci
          npm run build
          # exclude dist/index.js.map (different on Windows)
          git diff --stat --exit-code HEAD -- ':!dist/index.js.map'
        shell: bash
